/* 
	Jenney Grover
	MIU 1307
	Your Personal Librarian
	Project 1, 2, 3, 4
	began June 7, 2013
*/


label.error{
	display:block;
	margin:20px 0; 
	color:#cc0000;
}

.even{background: #fff;}
.hasFocus{border: 2px solid #8C03FC;}

#errorsLink {
	display:none; 
}
